/*  --------------------------- HOME PAGE --------------------------------------*/
/* Make grid */
.homegrid {
    margin-left: 5px;
    margin-right: 5px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-template-rows: auto; /* could also do e.g. 100px 500px 500px*/
    grid-row-gap: 5px;
    max-width: 1000pt;
    text-align: justify;
}

.profile {
    grid-area: 1 / 1 / 1 / 3; /* like matlab's position, start row/start column/end row/end column */
}

.home_research {
    grid-area: 2 / 1 / 2 / 3; /* like matlab's position, start row/start column/end row/end column */
}

.homefig {
    text-align: center;
    color: #000000;
}

.homefigoverlay {
    position: relative;
}

.homefigoverlay:hover .overlay{
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
  }

  .overlaytext { 
      margin-top: 120px;
      text-align: center;
      font-size: 20pt;
      font-family:'Arial','Helvetica','Sans-Serif';
      font-weight: bold;
  }
  
  .homefig img{
      height: 35vh; /*240px;*/
  }


  /* MEDIA QUERY FOR MOBILE */
  @media only screen and (max-width:1015px) {
    .homegrid {
        grid-template-columns: 1fr;
    }
    
    .profile {
        grid-area: 1 / 1 / 1 / 2; /* like matlab's position, start row/start column/end row/end column */
    }
    
    .home_research {
        grid-area: 2 / 1 / 2 / 2; /* like matlab's position, start row/start column/end row/end column */
    }
    
    .homefig img{
        height: auto; /*240px;*/
        width: 50%;
        min-width: 250px;
    }
    
}