/* body */
body {
    font-family: 'Helvetica Neue','Helvetica','Arial','Sans-Serif';
    font-size: 14px;
    color: #333333;
}
.container {
    margin: 0px 0px 0px 240px;
}

h1 {
    font-size: 25px;
    font-weight: 500;
}

h2 {
    font-size: 18px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

/* make navigation bar on left */
.nav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.mnav .topnav {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3px;
    padding-left: 5px;
    display: none;
    font-size:15pt; 
    color: #818181;
    float: left;
}

#mobnavmenu {
    box-shadow: 2px 2px 5px;
    opacity: 0.95;
    display: none;
}


@media only screen and (max-width:1015px) {
    .nav {
        display: none;
    }
    .mnav {
        display: block;
    }
    .container {
        margin: 40px 0px 0px 0px;
    }
}

@media only screen and (min-width:1015px) {
    .nav {
        display: block;
    }
    .mnav {
        display: none;
    }
}

.avatar{
    vertical-align: middle; 
    width: 210px;
    height: 210px; 
    border-radius: 50%;
    padding-left: 5px;
}

.nav h1 {
    font-weight: bold;
    color:#818181;
    padding: 0px 6px;
    /*text-align: center;*/
}

.nav a, #researchbutton, #sessionsbutton {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

  
.nav a:hover, #researchbutton:hover, #sessionsbutton:hover  {
    color: #f1f1f1;
}

.nav ul {
    list-style: none;
    padding: 0px; 
    font-family:'Arial','Helvetica','Sans-Serif';
}

.socmedicons {
    display: inline-block;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.reslink {
    display: none;
    background-color: #414141;
    padding: 2px 2px 2px 2px;
}

.reslink a {
    font-size: 15px;
    color: #cccccc;
}

.reslink a:hover {
    background-color: #ffffff ;
    color: #111
}

/* --- footers ---*/
footer {
    font-size: 10pt;
    padding-top: 1in;
}


/* --- figures --- */
.figure {
    width: 80%; 
    margin: auto;
}

.figure img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 750px;
}

.figure p {
    font-size: 9pt;
}