
h1 {
    font-family: 'Arial','Helvetica','Sans-Serif';
    font-size: 25px;
}

h2 {
    font-family: 'Arial','Helvetica','Sans-Serif';
    font-size: 18px;
}


.rescontainer {
    width: 10%;
}